<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Страница Ответов</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"> Ваши ответы</header>
    <main class="container-fluid mt-2" >
        <table class="table">
            <tr>
                <th>Your Answers</th>
                <th>Right Answers</th>
                <tr>
                    <td th:text="${travel.setOutOff}"></td>
                    <td>Set out / off</td>
                </tr>
                <tr>
                    <td th:text="${travel.checkedIn}"></td>
                    <td>Checked in</td>
                </tr>
                <tr>
                    <td th:text="${travel.dropMeOff}"></td>
                    <td>Drop me off</td>
                </tr>
                <tr>
                    <td th:text="${travel.turnAround}"></td>
                    <td> Turn around</td>
                </tr>
                <tr>
                    <td th:text="${travel.takesOff}"></td>
                    <td> Takes off</td>
                </tr>
                <tr>
                    <td th:text="${travel.runOver}"></td>
                    <td>Run over</td>
                </tr>
                <tr>
                    <td th:text="${travel.keepUpWith}"></td>
                    <td> Keep up with</td>
                </tr>
            </tr>
        </table>
        <div>
            <a role="button" class="btn btn-primary" href="/travelAndTransport">Вернуться</a>
            <div style="text-align: right">
                <span th:text="${howManyRightAnswers}"></span><span>/7</span>
            </div>
        </div>
    </main>
</body>
</html>